language: node_js
node_js:
  - "node"
before_script: 
  - yarn global add @vue/cli
script:
  - yarn build
deploy:
  provider: pages
  local-dir: dist
  skip-cleanup: true
  github-token: $GH_TOKEN  # Set in the settings page of your repository, as a secure variable
  keep-history: true
  on:
    branch: master
