@font-face {
    font-family: 'Futura';
    src: url('fonts/Futura-Bold.woff2') format('woff2'),
        url('fonts/Futura-Bold.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Futura Bk BT';
    src: url('fonts/FuturaBT-Book.woff2') format('woff2'),
        url('fonts/FuturaBT-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
    --kleur-groen: #368C70;
    --kleur-blauw-donker: #0A4F51;
    --kleur-oranje: #E9600B;
    --kleur-beige: #F2EBC7;
    --kleur-blauw : #197173;
    --kleur-rood: #C33A3A;
    --kleur-rood-donker: #5A1C1C;

    --font-color: var(--kleur-beige);

    --achtergrond-titel: var(--kleur-blauw);
    --achtergrond-programma: var(--kleur-blauw-donker);
    --achtergrond-motown: var(--kleur-rood);
    --achtergrond-etiquette: var(--kleur-rood-donker);
    --achtergrond-galadate: var(--kleur-beige);
    --tekst-galadate: var(--kleur-groen);   

    --num-rays: 21;
    --animation-duration-base: 30s;

    --z-index-top: 11;
    --z-index-bottom: 10;
}

body {
    font-family: Futura Bk BT, sans-serif;
    color: var(--font-color);
}

h1, h2, h3, h4, h5, h6 {
    font-family: Futura, sans-serif;
    text-transform: uppercase;
}

h2 {
    text-align: center;
    font-size: 28pt;
}
h3 {font-size: 1rem;}
h4 {font-size: 1.2rem;}

/* drie kolommen op grote schermen, twee kolommon op gemiddelde schermen, één kolom op mobiel */
.fluid-columns {
    column-count: 3;
}

@media (max-width: 960px) { /* lg */
    .fluid-columns {
        column-count: 2;
    }
}

@media (max-width: 720px) { /* md */
    .fluid-columns {
        column-count: 1;
    }
}

a.anchor {
    position: relative;
    top: -30px;
}

p.heavy {
    font-weight: bold;
}

section {
    padding: 5em;
}

/* nav */

nav {
    background-color: var(--achtergrond-titel);
}

nav .bottom-border {
    width: 100%;
    position: absolute;
    bottom: -5px;
    height: 5px;
    opacity: 0.3;
    background-color: inherit;
}

nav a {
    font-family: Futura, sans-serif;
    text-transform: uppercase;
    color: var(--kleur-beige);
    transition: ease-in-out color .15s;
}

nav a:hover {
    color: var(--kleur-oranje);
    text-decoration: none;
}

nav .logo-titel {
    height: 40px;
    z-index: var(--z-index-top);
}

nav .logo-titel svg {
    margin-top: -10px;
}

/* header */

.logo-groot {
    /* display: none; */
    width: 500px;
    position: absolute;
    margin: 0 auto;
    top: 100px;
    margin-left: -250px;
    left: 50%;
    z-index: var(--z-index-top);
}

.burst {
    width: 100%;
    height: 1000px;
    overflow: hidden;
}

.burst .outer {
    width: 2000px;
    left: 50%;
    margin-left: -1000px;
    position: relative;
    clip-path: ellipse(800px 600px at center 300px);
    z-index: var(--z-index-bottom);
}

.burst .ray {
    top: 200px;
    display: block;
    width: 0;
    height: 0;
    border-width: 100px 1000px;
    border-color: transparent transparent transparent #fb985d;
    border-style: solid;
    animation-name: rotate1;
    animation-duration: var(--animation-duration-base);
    animation-iteration-count:infinite;
    animation-timing-function:linear;
    position: absolute;
}

/* burst kleuren */
.burst .ray:nth-child(3n) { 
    border-color: transparent transparent transparent var(--kleur-groen); 
    border-width: 300px 1000px;
    margin-top: -200px;
}
.burst .ray:nth-child(3n+1) {
    border-color: transparent transparent transparent var(--kleur-beige); 
    border-width: 200px 1000px;
    margin-top: -100px;
}
.burst .ray:nth-child(3n+2) {
    border-color: transparent transparent transparent var(--kleur-oranje); 
    border-width: 150px 1000px;
    margin-top: -50px;
}

/* burst instellingen */
.burst .ray:nth-child(1) {
    animation-delay: calc(var(--animation-duration-base) / var(--num-rays) * -1);
}
.burst .ray:nth-child(2) { 
    animation-delay: calc(var(--animation-duration-base) / var(--num-rays) * -2);
}
.burst .ray:nth-child(3) { 
    animation-delay: calc(var(--animation-duration-base) / var(--num-rays) * -3);
}
.burst .ray:nth-child(4) { 
    animation-delay: calc(var(--animation-duration-base) / var(--num-rays) * -4);
}
.burst .ray:nth-child(5) { 
    animation-delay: calc(var(--animation-duration-base) / var(--num-rays) * -5);
}
.burst .ray:nth-child(6) { 
    animation-delay: calc(var(--animation-duration-base) / var(--num-rays) * -6);
}
.burst .ray:nth-child(7) { 
    animation-delay: calc(var(--animation-duration-base) / var(--num-rays) * -7);
}
.burst .ray:nth-child(8) { 
    animation-delay: calc(var(--animation-duration-base) / var(--num-rays) * -8);
}
.burst .ray:nth-child(9) { 
    animation-delay: calc(var(--animation-duration-base) / var(--num-rays) * -9);
}
.burst .ray:nth-child(10) { 
    animation-delay: calc(var(--animation-duration-base) / var(--num-rays) * -10);
}
.burst .ray:nth-child(11) { 
    animation-delay: calc(var(--animation-duration-base) / var(--num-rays) * -11);
}
.burst .ray:nth-child(12) { 
    animation-delay: calc(var(--animation-duration-base) / var(--num-rays) * -12);
}
.burst .ray:nth-child(13) { 
    animation-delay: calc(var(--animation-duration-base) / var(--num-rays) * -13);
}
.burst .ray:nth-child(14) { 
    animation-delay: calc(var(--animation-duration-base) / var(--num-rays) * -14);
}
.burst .ray:nth-child(15) { 
    animation-delay: calc(var(--animation-duration-base) / var(--num-rays) * -15);
}
.burst .ray:nth-child(16) { 
    animation-delay: calc(var(--animation-duration-base) / var(--num-rays) * -16);
}
.burst .ray:nth-child(17) { 
    animation-delay: calc(var(--animation-duration-base) / var(--num-rays) * -17);
}
.burst .ray:nth-child(18) { 
    animation-delay: calc(var(--animation-duration-base) / var(--num-rays) * -18);
}
.burst .ray:nth-child(19) { 
    animation-delay: calc(var(--animation-duration-base) / var(--num-rays) * -19);
}
.burst .ray:nth-child(20) { 
    animation-delay: calc(var(--animation-duration-base) / var(--num-rays) * -20);
}
.burst .ray:nth-child(21) { 
    animation-delay: calc(var(--animation-duration-base) / var(--num-rays) * -21);
}
@keyframes rotate1 {
    from { transform: rotate(0deg); }
    to   { transform: rotate(360deg); }
}

/* sections */

.head {
    height: 670px;
    padding: 0;
    background-color: var(--kleur-blauw-donker);
}

.video {
    background-color: var(--achtergrond-programma);
    padding-bottom: 0;
}

.programma {
    background-color: var(--achtergrond-programma);
}

.pre-programma {
    background-color: var(--kleur-groen);
    padding: 2em;
}

.motown {
    background-color: var(--achtergrond-motown);
}

.etiquette {
    background-color: var(--achtergrond-etiquette);
}

.galadate {
    background-color: var(--kleur-beige);
    color: var(--achtergrond-programma);
    min-height: 100vh;
}


/* video */
.video iframe {
    z-index: var(--z-index-top);
}

/* programma */
/* .programma h3 {
    margin-top: 2em;
} */

.datum {
    font-size: 1rem;
}

.yt-item {
    color: var(--kleur-groen);
    margin: 1em 0;
}


.yt-item .titel {
    font-family: Futura, sans-serif;
    grid-row: 1;
    grid-column: 2;
}

.yt-item .beschrijving {
    grid-row: 2;
    grid-column: 2;
}

.yt-item .play {
    grid-row: 1 / 3;
    grid-column: 1;
    background-image: url(images/controls/play.svg);
    width: 24px;
    height: 24px;
    margin: 5px;
    align-self: center;
}

.pre-programma .yt-item {
    color: var(--kleur-blauw-donker);
}

.pre-programma .yt-item .play {
    background-image: url(images/controls/play-alt.svg);
}


/* buttons */
.btn-primary {
    color: white;
    background-color: var(--kleur-blauw-donker);
}

.btn-primary:not(:disabled):not(.disabled):active {
    background-color: var(--kleur-blauw-donker);
}

.btn-primary:hover {
    background-color: var(--achtergrond-titel);
}