/* variables */
$kleur-groen: #368C70;
$kleur-blauw-donker: #0A4F51;
$kleur-oranje: #E9600B;
$kleur-beige: #F2EBC7;
$kleur-blauw: #197173;
$kleur-rood: #C33A3A;
$kleur-rood-donker: #5A1C1C;

$font-color: $kleur-beige;
$achtergrond-titel: $kleur-blauw;
$achtergrond-programma: $kleur-blauw-donker;
$achtergrond-motown: $kleur-rood;
$achtergrond-etiquette: $kleur-rood-donker;
$achtergrond-galadate: $kleur-beige;
$tekst-galadate: $kleur-groen;
$num-rays: 21;
$animation-duration-base: 30s;
$z-index-top: 11;
$z-index-bottom: 10;

@font-face {
  font-family: 'Futura';
  src: url('fonts/Futura-Bold.woff2') format('woff2'),
  url('fonts/Futura-Bold.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Futura Bk BT';
  src: url('fonts/FuturaBT-Book.woff2') format('woff2'),
  url('fonts/FuturaBT-Book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: Futura Bk BT, sans-serif;
  color: $font-color;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Futura, sans-serif;
  text-transform: uppercase;
}

h2 {
  text-align: center;
  font-size: 28pt;
}

h3 {
  font-size: 1rem;
}

h4 {
  font-size: 1.2rem;
}

/* drie kolommen op grote schermen, twee kolommon op gemiddelde schermen, één kolom op mobiel */
.fluid-columns {
  column-count: 3;
}

.fluid-columns-4 {
  column-count: 4;
}

@media (max-width: 992px) { /* lg */
  .fluid-columns {
    column-count: 2;
  }
  .fluid-columns-4 {
    column-count: 3;
  }
}

@media (max-width: 786px) { /* md */
  .fluid-columns {
    column-count: 1;
  }
  .fluid-columns-4 {
    column-count: 2;
  }
}

@media (max-width: 576px) { /* sm */
  .fluid-columns-4 {
    column-count: 1;
  }
}

a.anchor {
  position: relative;
  top: -30px;
}

p.heavy {
  font-weight: bold;
}

section {
  padding: 5em 0;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: $kleur-groen;
  width: 150px;
  height: 150px;
  padding: 1em;
  box-shadow: 5px 5px 5px 2px rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
  text-align: center;
}

/* nav */
nav {
  background-color: $achtergrond-titel;

  .bottom-border {
    width: 100%;
    position: absolute;
    bottom: -5px;
    height: 5px;
    opacity: 0.3;
    background-color: inherit;
  }

  a {
    font-family: Futura, sans-serif;
    text-transform: uppercase;
    color: $kleur-beige;
    transition: ease-in-out color .15s;


    &:hover {
      color: $kleur-oranje;
      text-decoration: none;
    }
  }

  .logo-titel {
    height: 40px;
    z-index: $z-index-top;


    svg {
      margin-top: -10px;
    }
  }
}

/* header */

.logo-groot {
  /* display: none; */
  width: 500px;
  position: absolute;
  top: 100px;
  margin: 0 auto 0 -250px;
  left: 50%;
  z-index: $z-index-top;
}

.burst {
  width: 100%;
  height: 1000px;
  overflow: hidden;


  .outer {
    width: 2000px;
    left: 50%;
    margin-left: -1000px;
    position: relative;
    clip-path: ellipse(800px 600px at center 300px);
    z-index: $z-index-bottom;
  }

  .ray {
    top: 200px;
    display: block;
    width: 0;
    height: 0;
    border-width: 100px 1000px;
    border-color: transparent transparent transparent #fb985d;
    border-style: solid;
    animation-name: rotate1;
    animation-duration: #{$animation-duration-base};
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    position: absolute;


    /*kleuren */
    &:nth-child(3n) {
      border-color: transparent transparent transparent $kleur-groen;
      border-width: 300px 1000px;
      margin-top: -200px;
    }

    &:nth-child(3n+1) {
      border-color: transparent transparent transparent $kleur-beige;
      border-width: 200px 1000px;
      margin-top: -100px;
    }

    &:nth-child(3n+2) {
      border-color: transparent transparent transparent $kleur-oranje;
      border-width: 150px 1000px;
      margin-top: -50px;
    }

    @for $i from 1 to $num-rays {
      &:nth-child(#{$i}) {
        animation-delay: $animation-duration-base / $num-rays * -1 * $i;
      }
    }
  }
}

@keyframes rotate1 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* sections */

.head {
  height: 670px;
  padding: 0;
  background-color: $kleur-blauw-donker;
}

.video {
  background-color: $achtergrond-programma;
  padding-bottom: 0;
}

.programma {
  background-color: $achtergrond-programma;
}

.pre-programma {
  background-color: $kleur-groen;
  padding: 2em;
}

.motown {
  background-color: $achtergrond-motown;
}

.etiquette {
  background-color: $achtergrond-etiquette;
}

.galadate {
  background-color: $kleur-beige;
  color: $achtergrond-programma;
  min-height: 100vh;
}


/* video */
.video iframe {
  z-index: $z-index-top;
}

/* programma */
.datum {
  font-size: 1rem;
}

.yt-item {
  color: $kleur-groen;
  margin: 1em 0;
}

.yt-item .titel {
  font-family: Futura, sans-serif;
  grid-row: 1;
  grid-column: 2;
}

.yt-item .beschrijving {
  grid-row: 2;
  grid-column: 2;
}

.yt-item .play {
  grid-row: 1 / 3;
  grid-column: 1;
  background-image: url(/images/controls/play.svg);
  width: 24px;
  height: 24px;
  margin: 5px;
  align-self: center;
}

.pre-programma .yt-item {
  color: $kleur-blauw-donker;
}

.pre-programma .yt-item .play {
  background-image: url(/images/controls/play-alt.svg);
}

#yt-player {
  display: none;
}

/* buttons */
.btn-primary {
  color: white;
  background-color: $kleur-blauw-donker;
}

.btn-primary:not(:disabled):not(.disabled):active {
  background-color: $kleur-blauw-donker;
}

.btn-primary:hover {
  background-color: $achtergrond-titel;
}
