@import './vars';
@import '~bootstrap/scss/bootstrap';

@font-face {
  font-family: 'Futura';
  src: url('fonts/Futura-Bold.woff2') format('woff2'),
  url('fonts/Futura-Bold.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Futura Bk BT';
  src: url('fonts/FuturaBT-Book.woff2') format('woff2'),
  url('fonts/FuturaBT-Book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
}

h2 {
  text-align: center;
  margin-bottom: 1.5em;
}

/* drie kolommen op grote schermen, twee kolommon op gemiddelde schermen, één kolom op mobiel */
.fluid-columns {
  column-count: 3;
  column-gap: 30px;

  & > * {
    break-inside: avoid;
    page-break-inside: avoid;
  }
}

.fluid-columns-4 {
  column-count: 4;
  column-gap: 30px;

  & > * {
    break-inside: avoid;
    page-break-inside: avoid;
  }
}

.column-split {
  height: 200px;
}

@media (max-width: 992px) { /* lg */
  .fluid-columns {
    column-count: 2;
  }
  .fluid-columns-4 {
    column-count: 3;
  }
  .column-split {
    height: 0;
  }
}

@media (max-width: 768px) { /* md */
  .video {
    margin-top: -200px;
  }
  .fluid-columns {
    column-count: 1;
  }
  .fluid-columns-4 {
    column-count: 2;
  }
}

@media (max-width: 540px) { /* sm */
  .fluid-columns-4 {
    column-count: 1;
  }
}

a.anchor {
  position: relative;
  top: -30px;
}

p.heavy {
  font-family: $font-header;
}

section {
  padding: 5em 0;
}

.button-wrapper {
  padding-right: 2em;
  padding-top: 3em;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: $kleur-groen;
  width: 150px;
  height: 150px;
  padding: 1em;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, .5);
  text-transform: uppercase;
  text-align: center;
}

/* nav */
nav {
  background-color: $achtergrond-titel;

  .bottom-border {
    width: 100%;
    position: absolute;
    bottom: -5px;
    height: 5px;
    opacity: 0.3;
    background-color: inherit;
  }

  a {
    font-family: $font-header;
    text-transform: uppercase;
    color: $kleur-beige;
    transition: ease-in-out color .15s;

    &:hover {
      color: $kleur-oranje;
      text-decoration: none;
    }
  }

  .logo-titel {
    height: 40px;
    z-index: $z-index-top;

    svg {
      margin-top: -10px;
    }
  }
}

/* header */
.logo-container {
  width: 100%;
  z-index: $z-index-top;
  position: absolute;
  top: 100px;
  display: flex;
  justify-content: center;
  height: 500px;

  .logo-groot {
    max-width: 500px;
    width: 500px;
  }
}

.burst {
  clip-path: ellipse(2000px 1000px at center 0);
  @media (max-width: 768px) {
    clip-path: ellipse(1000px 700px at center 0);
  }

  overflow: hidden;
  height: 1000px;

  .burst-rotating {
    height: 3000px;
    width: 3000px;

    left: 50%;
    top: 250px;
    margin-top: -1500px;
    margin-left: -1500px;
    background-size: 100%;
    position: relative;
    z-index: $z-index-bottom;
    animation-name: draai;
    animation-duration: $animation-duration-base;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    background-image: url(images/bg.svg);
  }
}

@keyframes draai {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* sections */

.head {
  height: 670px;
  padding: 0;
  background-color: $kleur-blauw-donker;
}

.video {
  background-color: $achtergrond-programma;
  padding-bottom: 0;
}

.programma {
  background-color: $achtergrond-programma;
}

.pre-programma {
  background-color: $kleur-groen;
  padding: 2em;
}

.motown {
  background-color: $achtergrond-motown;
  img {
    width: 50%;
    float: right;
  }
}

.etiquette {
  background-color: $achtergrond-etiquette;

  background-image: url(images/diescie-bg.jpg), url(images/jackson5-bg.jpg);
  background-size: contain, contain;
  background-position: top center, bottom center;
  background-repeat: no-repeat;
}

.galadate {
  background-color: $kleur-beige;
  color: $achtergrond-programma;
  min-height: 100vh;
}

/* video */
.video .container {
  display: flex;
  align-items: center;
  height: 1000px;
  overflow: visible;
  margin-top: -300px;
  margin-bottom: -300px;
}

.vimeo-container {
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
  transition: height ease-in-out 1s, transform ease-in-out 1s;
  height: 450px;
  width: 100%;
  z-index: $z-index-top;

  &.closed {

    svg {
      display: block;
    }
  }

  svg {
    display: none;
    position: absolute;
    width: 100%;
    height: 100px;
    z-index: 12;
    pointer-events: none;
  }
}

/* programma */
.datum {
  font-size: 1rem;
}

.yt-item {
  color: $kleur-groen;
  margin: 1em 0;
  line-height: normal;

  .titel {
    font-family: $font-header;
    grid-row: 1;
    grid-column: 2;
  }

  .beschrijving {
    grid-row: 2;
    grid-column: 2;
  }

  .play {
    background-image: url(images/controls/play.svg);
    width: 24px;
    height: 24px;
    margin: 5px;
    align-self: center;
  }

  .playing {
    background-image: url(images/controls/pause.svg);
  }
}

.pre-programma {
  .yt-item {
    color: $kleur-blauw-donker;

    .play {
      background-image: url(images/controls/play-alt.svg);
    }

    .playing {
      background-image: url(images/controls/pause-alt.svg);
    }
  }
}

/* Youtube speler */
#yt-player {
  display: none;
}

/* buttons */
.btn-primary {
  padding: 1em 2em;
  float: right;
}
