/* variables */
$kleur-groen: #368C70;
$kleur-blauw-donker: #0A4F51;
$kleur-oranje: #E9600B;
$kleur-beige: #F2EBC7;
$kleur-blauw: #197173;
$kleur-rood: #C33A3A;
$kleur-rood-donker: #5A1C1C;

$font-color: $kleur-beige;
$achtergrond-titel: $kleur-blauw;
$achtergrond-programma: $kleur-blauw-donker;
$achtergrond-motown: $kleur-rood;
$achtergrond-etiquette: $kleur-rood-donker;
$achtergrond-galadate: $kleur-beige;
$tekst-galadate: $kleur-groen;
$num-rays: 21;
$animation-duration-base: 50s;
$z-index-top: 11;
$z-index-bottom: 10;

$font-header: Futura, sans-serif;
$font-text: Futura Bk BT, sans-serif;

/* bootstrap override */

$theme-colors: (
  "primary": $kleur-blauw,
  "danger": #ff4136
);

$font-family-sans-serif: $font-text;
$headings-font-family: $font-header;
$body-color: $kleur-beige;

$h2-font-size: 2.25rem;
$h3-font-size: 1rem;
$h4-font-size: 1.2rem;
$line-height-base: 1.8;